<!-- <div> -->
  <div class="row">
    <div class="col-md-4">
      <h3 style="color: white; margin-left: 32%; font-family: Georgia, 'Times New Roman', Times, serif;">Shiva Transport Company</h3>
      <div style="margin-top: -3%; margin-left: 15%;">
        <img src="assets/logo.png" alt="logo">
      </div>
    </div>
    <div class="col-md-8">
      <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
          <li class="nav-item">
            <p type="button" class="btn navButton"><b>Home</b></p>
          </li>
          <li class="nav-item">
            <p type="button" class="btn navButton" (click)='scrollToBottom()' ><b>About</b></p>
          </li>
          <li class="nav-item">
            <p type="button" class="btn navButton" (click)='scrollToBottom()' ><b>Contact</b></p>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="truckImg">
    <div style="margin-top: 2%; margin-left: 5%;">
      <h1 style="color: white; font-family: Georgia, 'Times New Roman', Times, serif;">Trucking & Freight Hauling</h1>
      <h1 style="color: cadetblue; margin-top: -1%; font-family: Georgia, 'Times New Roman', Times, serif;">From Transportation</h1>
      <span style="color: white; font-size: 15px;">Want to ship Cargo or vehicle or household goods securely anywhere in India?</span>
      <p style="color: white; font-size: 15px;">Here at Shiva Transport Company we have perfect and fastest solution of your problem.</p>
      <p style="color: white; font-size: 15px;">Contact us to know more...</p>
    </div>
  </div>

  <div class="container" style="margin-top: 3%;">
    <div class="row">
      <div class="col-md-3 smallBox">
        <div class="row">
          <div class="col-md-2">
            <h1 class="smallBoxNumber">01</h1>
          </div>
          <div class="col-md-10">
            <h4 class="text-center" style="margin-left: -10%; color: white;"><b>Trucking</b></h4>
            <p class="text-center text-light">We provide the fastest trucking service accross the Nation.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 smallBox">
        <div class="row">
          <div class="col-md-2">
            <h1 class="smallBoxNumber">02</h1>
          </div>
          <div class="col-md-10">
            <h4 class="text-center" style="margin-left: -10%; color: white;"><b>Freight Hauling</b></h4>
            <p class="text-center text-light">Door step and secure delivery of any kind of goods.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 smallBox">
        <div class="row">
          <div class="col-md-2">
            <h1 class="smallBoxNumber">03</h1>
          </div>
          <div class="col-md-10">
            <h4 class="text-center" style="margin-left: -10%; color: white;"><b>Specialization</b></h4>
            <p class="text-center text-light">Water proof and secure delivery of household goods and vehicles.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 5%;">
      <div class="row">
        <div class="col-md-4" style="padding-left:4%; margin-top: 0%;">
          <p style="font-size: 12px;">
            <i class="fa fa-address-card" style="font-size: 20px; color: grey;"></i> 
            <b style="font-size: 32px; font-family: Georgia, 'Times New Roman', Times, serif;"> Pankaj Saxena</b>
          </p>
          <pre style="background: transparent; border: none; overflow: hidden;">Mob No: 9329166411,
Tn-29, Next to Bajpai Welding Workshop,
Near Aghori Baba Mandir, Trimurti Nagar,
Jabalpur 482002.  
          </pre>
        </div>
        <div class="col-md-8" style="padding-left: 3%;">
          <span style="font-size: 32px;"><b>Why</b><span style="font-size: 22px;"> <b> Shiva Transport Company?</b> </span></span>
          <ul class="list-group">
            <li class="list-group-item">Cost Efficiency.</li>
            <li class="list-group-item">Fast, Safe and Trusted Delivery.</li>
            <li class="list-group-item">Accross India.</li>
          </ul>
        </div>
      </div>
      <p style="color: gray; margin-left: 2%;"> © Copyright 2021 </p>
    </div>
   

  </div>

<!-- </div> -->


